/* UNIVERSAL PAGE CONTENT */

@font-face {
  font-family: "DIN Neuzeit Grotesk";
  src: url("./assets/fonts/DINNeuzeitGroteskLT-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DIN Neuzeit Grotesk";
  src: url("./assets/fonts/DINNeuzeitGroteskLT-BoldCond.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
}

/* Temporarily add an outline to all elements */
/* * {
  outline: 1px solid red; 
} */

/* .App { 
  text-align: center;
} */

body {
  font-family: "DIN Neuzeit Grotesk", sans-serif;
  background-color: rgb(33, 23, 76);
  color: white;
  margin: 0;
  font-weight: bold;
  font-style: bold;
}

strong {
  text-shadow: 1.25px 0 0 currentColor;
}

/* button {
  all: unset;
  display: inline-block;
  padding: 10px;
  border: none;
  background: none;
  font: inherit;
  text-align: center;
  cursor: pointer;
} */

.orangeBar {
  background-color: #ff3700;
  font-size: 10vw;
  height: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.orangeBarDesktop {
  background-color: #ff3700;
  font-size: 60px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.greenBar {
  background-color: rgb(2, 91, 13);
  font-size: 10vw;
  height: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.orangeLine {
  margin: 0 auto;
  border: 3px solid #ff3700;
  height: 0vw;
  width: 25vw;
  border-radius: 50px;
}

.thinOrangeLine {
  margin: 0 auto;
  border: 1px solid #ff3700;
  height: 0vw;
  width: 90vw;
  border-radius: 50px;
}

.pageContent {
  padding-bottom: 40vw;
}

.ovalPicWrapper {
  width: 80vw;
  height: 50vw;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #f9df39 2.5vw solid;
  margin: 0 auto;
  margin-top: 5vw;
}

.ovalPic {
  width: auto;
  height: 60vw; /* Make larger than wrapper to focus on a section */
  transform: translateY(0vw) translateX(0vw); /* Adjust to position the focus area */
}

.ovalPicWrapperVert {
  width: 80vw;
  height: 90vw;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #f9df39 2.5vw solid;
  margin: 0 auto;
  margin-top: 5vw;
}

.ovalPicVert {
  width: auto;
  height: 100vw;
  transform: translateY(0vw) translateX(0vw);
}

/* LESLIE FOOTER */

.leslieFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(33, 23, 76);
  color: #fff;
  padding: 1rem 0;
  height: 20vw;
}

.leslieFooterContent {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.leslieFooterPicWrapper {
  width: 30vw;
  height: 17vw;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1vw;
  margin-left: 1vw;
  border: #f9df39 1vw solid;
}

.leslieFooterPic {
  width: auto;
  height: 30vw; /* Make larger than wrapper to focus on a section */
  transform: translateY(4vw) translateX(3.5vw); /* Adjust to position the focus area */
}

.leslieFooterText {
  font-size: 6vw;
}

.textLeslieLink {
  color: #f9df39;
  font-size: 7vw;
}

/* START PAGE CONTENT */

.start-header {
  text-align: center;
  font-size: 12vw;
  margin-top: 20vw;
  margin-bottom: 20vw;
}

.start-subheader {
  text-align: center;
  font-size: 8vw;
  margin-bottom: 20vw;
}

.start-subsubheader {
  text-align: left;
  width: 80vw;
  margin: 0 auto;
  font-size: 5vw;
  margin-bottom: 20vw;
  line-height: 7vw;
}

.rogueSpy {
  font-size: 7vw;
}

.startPageForm {
  width: 80vw;
  padding-bottom: 100px;
  padding-top: 20px;
  margin: 0 auto;
}

label {
  color: #f9df39;
  font-size: 5vw;
  padding: 6vw;
}

input:focus,
select:focus {
  border: 2px solid #ff3700;
  outline: none;
}

.formField {
  width: 80vw;
  height: 13vw;
  font-family: "DIN Neuzeit Grotesk", sans-serif;
  font-size: 7vw;
  border-radius: 50px;
  border: none;
  outline: none;
  padding-left: 5vw;
  padding-right: 5vw;
  box-sizing: border-box;
  margin-top: 1vw;
  font-weight: bold;
}

input[type="checkbox"] {
  display: none;
}

.secondAgentText {
  color: #f9df39;
  text-align: left;
  font-size: 6.5vw;
  font-style: italic;
}

.checkbox {
  display: inline-block;
  background-color: white;
  width: 8vw;
  height: 8vw;
  border-radius: 50px;
  position: relative;
  top: 2vw;
  cursor: pointer;
  margin-right: 3vw;
}

.checkbox:after {
  content: "";
  position: absolute;
  opacity: 0;
  border-radius: 50px;
}

input[type="checkbox"]:checked + .checkbox:after {
  opacity: 1;
}

input[type="checkbox"]:checked + .checkbox:before {
  content: "✔";
  position: absolute;
  top: -0.75vw;
  left: 1.1vw;
  font-size: 7vw;
  color: black;
}

.checkboxLabel {
  font-size: 5vw;
}

.checkboxLabel a:visited {
  color: white;
}

.checkboxLabel a {
  color: #f9df39;
}

.submitButton {
  color: white;
  background-color: #ff3700;
  width: 60vw;
  height: 13vw;
  margin: 0 auto;
  font-family: "DIN Neuzeit Grotesk", sans-serif;
  font-size: 7vw;
  border-radius: 50px;
  border: none;
  outline: none;
  display: block;
  font-weight: bold;
}

/* OPBC PAGE CONTENT */

.opbc-subheader {
  text-align: left;
  width: 90vw;
  margin: 0 auto;
  font-size: 6vw;
  margin-top: 15vw;
  margin-bottom: 10vw;
  line-height: 7vw;
}

.opbcPageForm {
  width: 80vw;
  padding-bottom: 30px;
  padding-top: 20px;
  margin: 0 auto;
}

.passwordFormField {
  width: 53vw;
  height: 13vw;
  font-family: "DIN Neuzeit Grotesk", sans-serif;
  font-size: 7vw;
  border-radius: 50px;
  border: none;
  outline: none;
  padding-left: 5vw;
  padding-right: 5vw;
  box-sizing: border-box;
  margin-top: 1vw;
  margin-right: 2vw;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.passwordFormField.animateInput {
  background-color: yellow;
  color: rgb(33, 23, 76);
  font-weight: bold;
  transform: scale(1.1);
  transition: background-color 1s ease, transform 1s ease;
  text-align: center;
}

.passwordButton {
  color: white;
  background-color: #ff3700;
  width: 25vw;
  height: 13vw;
  font-family: "DIN Neuzeit Grotesk", sans-serif;
  font-size: 7vw;
  border-radius: 50px;
  border: none;
  outline: none;
  font-weight: bold;
}

.wrongPassword {
  font-size: 10vw;
  text-align: center;
  margin: 0 auto;
}

.papyrusheadshake3 {
  width: 60vw;
}

.rightPassword {
  font-size: 7vw;
  text-align: center;
  margin: 0 auto;
}

.opbcimage {
  margin: 0 auto;
  width: 85vw;
  border: 5px solid #f9df39;
}

.killOrder {
  font-size: 10vw;
}

.describeCall {
  margin: 0 auto;
  width: 90vw;
  font-style: italic;
}

.videoContainer {
  border: 5px solid #ff3700;
  margin: 0 auto;
  width: 95vw;
  height: 53.5vw;
}

.video {
  width: 100%;
  height: 53.5vw;
}

.transcript {
  margin: 0 auto;
  width: 95vw;
  margin-bottom: 20vw;
}

.leslieDialog {
  color: #f9df39;
  height: 20vw;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.dialog {
  text-align: left;
  font-size: 6vw;
}

.papyrusDialog {
  color: #ff3700;
  height: 20vw;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

/* MY PROFILE PAGE CONTENT */

.myprofile-header {
  text-align: center;
  font-size: 9vw;
  margin-bottom: 10vw;
  margin-top: 7vw;
}

.papyrusPicWrapper {
  width: 80vw;
  height: 80vw;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #f9df39 2.5vw solid;
  margin: 0 auto;
}

.papyrusPic {
  width: auto;
  height: 80vw; /* Make larger than wrapper to focus on a section */
  transform: translateY(0vw) translateX(2vw); /* Adjust to position the focus area */
}

.myprofile-subheader {
  text-align: center;
  font-size: 7vw;
  margin-bottom: 10vw;
  margin-top: 10vw;
  font-style: italic;
}

.missionHistoryText {
  margin: 0 auto;
  width: 90vw;
  font-size: 6.5vw;
  margin-bottom: 6vw;
  margin-top: 6vw;
}

.polaroid {
  width: 70vw;
  transform: rotate(15deg);
  display: block;
  margin: 0 auto;
  margin-top: 10vw;
  margin-bottom: 10vw;
}

.searchHeading {
  font-size: 10vw;
  margin: 0 auto;
  text-align: center;
  margin-top: 10vw;
}

.searchBody {
  font-size: 6vw;
  margin: 0 auto;
  text-align: left;
  width: 90vw;
  margin-bottom: 10vw;
}

.otherSearchImage {
  width: 85vw;
  display: block;
  margin: 0 auto;
  margin-top: 10vw;
  margin-bottom: 10vw;
  border: #f9df39 1.5vw solid;
}

.transcriptButton {
  font-size: 7vw;
  text-align: center;
  margin: 0 auto;
}

.shaleDialog {
  color: #128d21;
  height: 20vw;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.myprofileDropdown {
  font-size: 7vw;
  margin-bottom: 10vw;
  margin-top: 10vw;
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

.myProfileDropdownImage {
  width: 85vw;
  display: block;
  margin: 0 auto;
  margin-top: 10vw;
  margin-bottom: 10vw;
}

.myprofileDropdownText {
  font-size: 5vw;
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
  font-weight: normal;
  line-height: 10vw;
}

/* TERMS CONTENT */

.termsContainer {
  width: 95vw;
  margin: 0 auto;
}

.termsContainerDesktop {
  width: 1000px;
  margin: 0 auto;
}

.termsHeading {
  font-size: 8vw;
  /* width: 95vw; */
  /* margin: 0 auto; */
  text-align: center;
  margin-top: 10vw;
  margin-bottom: 10vw;
}

.termsHeadingDesktop {
  font-size: 50px;
  /* width: 95vw; */
  /* margin: 0 auto; */
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.termsOL {
  font-size: 6vw;
  /* width: 85vw; */
  /* margin: 0 auto; */
}

.termsOLDesktop {
  font-size: 32px;
  /* width: 85vw; */
  /* margin: 0 auto; */
}

.termsUL {
  font-size: 4vw;
  font-weight: normal;
  /* width: 79vw; */
  line-height: 6vw;
  margin-right: 5vw;
}

.termsULDesktop {
  font-size: 18px;
  font-weight: normal;
  /* width: 79vw; */
  line-height: 25px;
  /* margin-right: 5vw; */
}

/* OBELISK TERMS CONTENT */

.yellowBar {
  background-color: rgb(249, 223, 57);
  color: black;
  font-size: 10vw;
  height: 30vw;
  text-align: center;
  padding-top: 10vw;
}

/* MY HISTORY CONTENT */

.myHistoryHeading {
  margin: 0 auto;
  width: 80vw;
  font-size: 7vw;
  margin-bottom: 6vw;
  margin-top: 6vw;
}

.myHistoryDropdown {
  font-size: 6vw;
  margin-bottom: 10vw;
  margin-top: 10vw;
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

.myHistoryDropdownText {
  font-size: 5vw;
  width: 86vw;
  margin-left: 7vw;
  margin-right: 7vw;
  font-weight: normal;
  line-height: 7vw;
  font-style: italic;
  margin-bottom: 10vw;
}

.myHistoryDropdownTextSpecial {
  font-size: 5vw;
  width: 86vw;
  margin-left: 7vw;
  margin-right: 7vw;
  font-weight: normal;
  line-height: 7vw;
  font-style: italic;
  margin-bottom: 10vw;
  text-align: center;
}

.myHistoryFooter {
  margin: 0 auto;
  text-align: center;
  margin-top: 15vw;
}

/* THE MISSION CONTENT */

.mission-header {
  text-align: center;
  font-size: 12vw;
  margin-top: 5vw;
  margin-bottom: 10vw;
}

.mission-subheader {
  text-align: center;
  width: 90vw;
  margin: 0 auto;
  font-size: 5vw;
}

.mission-subsubheader {
  text-align: left;
  width: 90vw;
  margin: 0 auto;
  font-size: 5vw;
  /* margin-bottom: 20vw; */
  line-height: 10vw;
}

.mission-emphasis {
  font-size: 7vw;
}

.mission-polaroid {
  width: 80vw;
  transform: rotate(-5deg);
  display: block;
  margin: 0 auto;
  margin-bottom: 10vw;
}

.missionPhonePic {
  width: 40vw;
  display: block;
  margin: 0 auto;
  margin-top: 10vw;
  margin-bottom: 10vw;
}

.ovalPic-mall {
  width: auto;
  height: 80vw; /* Make larger than wrapper to focus on a section */
  transform: translateY(0vw) translateX(-20vw); /* Adjust to position the focus area */
}

/* YOUR UPDATED MISSION CONTENT */

.updatedMission-map-wrapper {
  width: 85vw;
  height: 109vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #f9df39 2.5vw solid;
  margin: 0 auto;
  margin-top: 5vw;
  margin-bottom: 10vw;
}

.updatedMission-map {
  width: 85vw;
  /* height: 60vw; */
  /* transform: translateY(0vw) translateX(0vw); */
}

/* CONFIRMED CONTENT */

.confirmedDropdownText {
  font-size: 4.5vw;
  width: 86vw;
  margin-left: 7vw;
  margin-right: 7vw;
  font-weight: normal;
  line-height: 7vw;
  margin-bottom: 10vw;
}

/* DEBRIEF CONTENT */

.debrief-main-text {
  text-align: center;
  font-size: 9vw;
  margin-top: 10vw;
  margin-bottom: 10vw;
  margin-left: 5vw;
  width: 90vw;
}

.debriefDropdown {
  font-size: 6vw;
  margin-bottom: 10vw;
  margin-top: 10vw;
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

.debriefDropdownText {
  font-size: 5.5vw;
  width: 86vw;
  margin-left: 7vw;
  margin-right: 7vw;
  font-weight: bold;
  line-height: 12vw;
  /* font-style: italic; */
  margin-bottom: 10vw;
}

.debrief-link {
  color: #f9df39;
}

.debrief-blockquote {
  border-inline-start-width: 1vw;
  border-inline-start-style: solid;
  border-left-color: rgb(2, 97, 255);
  padding-inline-start: 8vw;
}

.debrief-victoria {
  width: 60vw;
  transform: rotate(-5deg);
  display: block;
  margin-left: 10vw;
  margin-bottom: 10vw;
}

.debrief-james {
  width: 60vw;
  transform: rotate(15deg);
  display: block;
  margin-left: 25vw;
  margin-bottom: 10vw;
}

.debrief-headshot {
  width: 90vw;
  display: block;
  margin: 0 auto;
  margin-top: 12vw;
}

.debrief-bio {
  width: 80vw;
  margin: 0 auto;
  margin-top: 1vw;
  font-size: 7vw;
  font-family: cormorantgaramond-light, cormorantgaramond, "cormorant garamond",
    serif;
  font-weight: normal;
  line-height: 10vw;
  margin-bottom: 40vw;
}

.no-scroll {
  overflow: hidden;
}

.debrief-names {
  text-align: center;
  font-size: 7.5vw;
  margin-left: 5vw;
  width: 90vw;
}

.debrief-titles {
  text-align: center;
  font-size: 4.5vw;
  margin-left: 5vw;
  width: 90vw;
  font-weight: normal;
  line-height: 10vw;
}

/* MARBLE PUZZLE */

.puzzleContainer {
  width: 95vw;
  display: block;
  margin: 0 auto;
}

.marbleButton {
  all: unset;
  display: inline-block;
  /* padding: 10px; */
  /* border: none; */
  /* background: none; */
  /* font: inherit; */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-align: center;
  /* cursor: pointer; */

  width: 7vw;
  height: 7vw;
  font-size: 4.5vw;
  color: black;
  cursor: pointer;
  background-color: white;
  padding: 0;

  border: none;
  margin: .5vw;
  width: 6vw;
  height: 6vw;
  /* padding-top: 1px; */
}

.lockedLetter {
  width: 7vw;
  /* height: 7vw; */
  font-size: 4.5vw;
  color: white;
  cursor: not-allowed;
  background-color: #21174c;
  border: none;
  padding: 0;
  margin: 0;
}

@keyframes growShrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5); /* Grow slightly */
  }
  100% {
    transform: scale(1); /* Shrink back to normal */
  }
}

.solvedWordLetter {
  border: none;
  width: 6vw;
  height: 7vw;
  font-size: 4.5vw;
  color: #f9df39;
  cursor: not-allowed;
  background-color: transparent;
  animation: growShrink 2s ease;
  transition: background-color 0.5s ease, color 0.5s ease, width 2s ease;
  padding: 0;
}

.resetButtonContainer {
  width: 40vw;
  display: block;
  margin: 0 auto;
}

.resetButton {
  background-color: #ff3700;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  height: 10vw;
  width: 40vw;
  font-size: 4vw;
}

.marbleIs {
  color: #f9df39;
  margin-top: 2vw;
  font-size: 5vw;
}

.marbleIsSolved {
  color: white;
  margin-top: 2vw;
  font-size: 5vw;
}

.marbleUpperFlex {
  display: flex;
}

.swanNecklaceContainer {
  width: 70vw;
}

.blackHatContainer {
  width: 41vw;
  /* margin-left: 5vw; */
}

.marbleLowerFlex {
  display: flex;
}

.leftSideContainer {
  width: 50vw;
}

.yellowManContainer {
  position: relative; /* Create a positioning context for children */
  display: inline-block;
  width: 40vw;
}

.yellowMan {
  width: 40vw;
  display: block;
}

.marblePuzzleInstructions {
  position: absolute; /* Position relative to the container */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for perfect centering */
  color: white; /* Text color */
  background-color: rgba(0, 0, 0, 0.6); /* Optional: Background with transparency */
  padding: 10px 20px; /* Optional: Padding around text */
  font-size: 30px; /* Adjust as needed */
  text-align: center; /* Center the text */
  border-radius: 5px; /* Optional: Rounded corners */
  width: 35vw;
}

.marbleInstructions {
  font-size: 7vw;
  text-align: center;
}

.lettersContainer {
  width: 85vw;
  display: block;
  margin: 0 auto;
}

.marbleCompletionMessage {
  display: block;
  margin: 0 auto;
  color: #f9df39;
  text-align: center;
  font-size: 10vw;
}
















/* PRIVATE PAGE */

/* .privateEventsList {} */

.privateEventsListItem {
  font-size: 7vw;
  /* width: 79vw; */
  line-height: 9vw;
  /* margin-right: 5vw; */
  text-align: left;
}

.privatePageForm {
  width: 90vw;
  padding-bottom: 30px;
  padding-top: 20px;
  margin: 0 auto;
  background-color: #f9df39;
  border-radius: 25px;
}

.privatePageFormField {
  width: 80vw;
  height: 13vw;
  font-family: "DIN Neuzeit Grotesk", sans-serif;
  font-size: 7vw;
  border-radius: 17px;
  border: none;
  outline: none;
  padding-left: 5vw;
  padding-right: 5vw;
  box-sizing: border-box;
  margin-top: 1vw;
  font-weight: bold;
  background-color: #21174c;
  color: #ff3700;
}

.privatePageFormFieldLarge {
  width: 80vw;
  height: 39vw;
  font-family: "DIN Neuzeit Grotesk", sans-serif;
  font-size: 7vw;
  border-radius: 17px;
  border: none;
  outline: none;
  padding-left: 5vw;
  padding-right: 5vw;
  box-sizing: border-box;
  margin-top: 1vw;
  font-weight: bold;
  background-color: #21174c;
  color: #ff3700;
  overflow-y: auto; /* Scroll vertically if content overflows */
  white-space: pre-wrap; /* Preserve whitespace and wrap text to next line */
  word-wrap: break-word; /* Break long words onto the next line */
  resize: none; /* Disable manual resizing */
}

.privatePageSubmitButton {
  color: white;
  background-color: #ff3700;
  width: 80vw;
  height: 13vw;
  margin: 0 auto;
  font-family: "DIN Neuzeit Grotesk", sans-serif;
  font-size: 7vw;
  border-radius: 50px;
  border: none;
  outline: none;
  display: block;
  font-weight: bold;
}

.privatePageLabel {
  color: #21174c;
  font-size: 5vw;
  padding: 6vw;
}
