/* UNIVERSAL PAGE CONTENT */

@font-face {
  font-family: 'DIN Neuzeit Grotesk';
  src: url('./assets/fonts/DINNeuzeitGroteskLT-BoldCond.ttf') format('truetype'),
       url('./assets/fonts/DINNeuzeitGroteskLT-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Temporarily add an outline to all elements */
/* * {
  outline: 1px solid red; 
} */

/* .App { 
  text-align: center;
} */

body {
  font-family: 'DIN Neuzeit Grotesk', sans-serif;
  background-color: rgb(33,23,76);
  color: white;
  margin: 0;
  
}

.orangeBar {
  background-color: #ff3700;
  font-size: 10vw;
  height: 20vw;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
}







/* START PAGE CONTENT */

.start-header {
  text-align: center;
  font-size: 12vw;
  margin-top: 20vw;
  margin-bottom: 20vw;
}

.start-subheader {
  text-align: center;
  font-size: 8vw;
  margin-bottom: 20vw;
}

.start-subsubheader {
  text-align: left;
  width: 80vw;
  margin: 0 auto;
  font-size: 5vw;
  margin-bottom: 20vw;
  line-height: 7vw;
}

.rogueSpy {
  font-size: 7vw;
}

.startPageForm {
  width: 80vw;
  padding-bottom: 100px;
  padding-top: 20px;
  margin: 0 auto;
}

label {
  color: #f9df39;
  font-size: 5vw;
  padding: 6vw;
}

input:focus, select:focus {
  border: 2px solid #ff3700; 
  outline: none;
}

.formField {
  width: 80vw;
  height: 13vw;
  font-family: 'DIN Neuzeit Grotesk', sans-serif;
  font-size: 7vw;
  border-radius: 50px;
  border: none;
  outline: none;
  padding-left: 5vw;
  padding-right: 5vw;
  box-sizing: border-box;
  margin-top: 1vw;
}

input[type="checkbox"] {
  display: none; 
}

.secondAgentText {
  color: #f9df39;
  text-align: left;
  font-size: 6.5vw;
  font-style: italic;
}

.checkbox {
  display: inline-block;
  background-color: white;
  width: 8vw; 
  height: 8vw; 
  border-radius: 50px; 
  position: relative;
  top: 2vw;
  cursor: pointer; 
  margin-right: 3vw;
}

.checkbox:after {
  content: '';
  position: absolute;
  opacity: 0;
  border-radius: 50px;
}

input[type="checkbox"]:checked + .checkbox:after {
  opacity: 1;
}

input[type="checkbox"]:checked + .checkbox:before {
  content: '✔';
  position: absolute;
  top: -.75vw;
  left: 1.1vw;
  font-size: 7vw;
  color: black;
}

.checkboxLabel {
  font-size: 5vw;
}

.checkboxLabel a:visited {
    color: white;
}

.checkboxLabel a {
  color: #f9df39;
}

.submitButton {
  color: white;
  background-color: #ff3700;
  width: 60vw;
  height: 13vw;
  margin: 0 auto;
  font-family: 'DIN Neuzeit Grotesk', sans-serif;
  font-size: 7vw;
  border-radius: 50px;
  border: none;
  outline: none;
  display: block;
}














/* OPBC PAGE CONTENT */

.opbc-subheader {
  text-align: left;
  width: 90vw;
  margin: 0 auto;
  font-size: 6vw;
  margin-top: 15vw;
  margin-bottom: 10vw;
  line-height: 7vw;
}

.opbcPageForm {
  width: 80vw;
  padding-bottom: 30px;
  padding-top: 20px;
  margin: 0 auto;
}

.passwordFormField {
  width: 53vw;
  height: 13vw;
  font-family: 'DIN Neuzeit Grotesk', sans-serif;
  font-size: 7vw;
  border-radius: 50px;
  border: none;
  outline: none;
  padding-left: 5vw;
  padding-right: 5vw;
  box-sizing: border-box;
  margin-top: 1vw;
  margin-right: 2vw;
}

.passwordButton {
  color: white;
  background-color: #ff3700;
  width: 25vw;
  height: 13vw;
  font-family: 'DIN Neuzeit Grotesk', sans-serif;
  font-size: 7vw;
  border-radius: 50px;
  border: none;
  outline: none;
}